<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

	<div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <% @todos.each do |todo| %>
      <%= turbo_frame_tag dom_id(todo) do %>
        <%= render 'todo', todo: todo %>
      <% end %>
    <% end %>
  </div>
</div>
